.Body2 {
  margin-top: 100px;
  text-align: start;
}
.Body2 img {
  width: 1550px;
}
.Bodyblog {
  margin-top: 150px;
}
h1 {
  color: #3a0ca3;
}
.h1 {
  font-size: 42px;
}
.h2 {
  font-size: 36px;
}
.h3 {
  font-size: 24px;
}

.Bodyblog p {
  margin-top: 76px;
  font-size: 18px;
}
a {
  text-decoration: none;
}
