.Selection {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}
.Selection button {
  color: #424242;
  font-size: 18px;
  text-decoration: none;
  border: none;
  background-color: white;
}
.Selection button:hover {
  font-size: 24px;
  color: #d05270;
  border-bottom: dotted #d05270 2px;
}
.Selection button:focus {
  font-size: 24px;
  color: #d05270;
  border: solid #d05270 2px;
}
.Second{
  display: flex;
  flex-direction: column;
}
.Postsect{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Pp{
  width: 45%;
  margin-top: 30px;
  text-align: start;
}